<mat-toolbar>
    <mat-toolbar-row>
        <h1>Camarero</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card>
    <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()">
            <div style="display: flex;flex-direction: column; padding-left: 50px; padding-right: 50px">
                <mat-form-field>
                    <input matInput placeholder="Nombre" [(ngModel)]="camarero.nombre" name="nombre">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Primer Apellido" [(ngModel)]="camarero.apellido1" name="apellido1">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Segundo Apellido" [(ngModel)]="camarero.apellido2" name="apellido2">
                </mat-form-field>
            </div>
            <div [hidden]="!error">
                <h4>Por favor valida que los campos esten completos!</h4>
            </div>
            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h4>Registro guardado con exito!</h4>
    </div>
</mat-card>