<mat-toolbar>
    <mat-toolbar-row>
        <h1>Factura</h1>
        <span style=" flex: 1 1 auto;"></span>
        <a mat-icon-button aria-label="Example icon-button with a heart icon" [routerLink]="'/cocinero/add'">
            <mat-icon>add_circle</mat-icon>
        </a>
    </mat-toolbar-row>
</mat-toolbar>
<table mat-table [dataSource]="cocineros" class="mat-elevation-z2" style="width: 100%">

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="apellido1">
        <th mat-header-cell *matHeaderCellDef> Primer Apellido</th>
        <td mat-cell *matCellDef="let element"> {{element.apellido1}} </td>
    </ng-container>


    <ng-container matColumnDef="apellido2">
        <th mat-header-cell *matHeaderCellDef> Segundo Apellido</th>
        <td mat-cell *matCellDef="let element"> {{element.apellido2}} </td>
    </ng-container>


    <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <a mat-icon-button aria-label="Example icon-button with a heart icon"
                [routerLink]="['/cocinero/edit',element.id]">
                <mat-icon>create</mat-icon>
            </a>

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>