<mat-toolbar>
    <mat-toolbar-row>
        <h1>Mesa</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card>
    <div [hidden]="submitted">
        <form (ngSubmit)="onSubmit()">
            <div style="display: flex;flex-direction: column; padding-left: 50px; padding-right: 50px">
                <mat-form-field>
                    <input matInput placeholder="Numero de Comensales" [(ngModel)]="mesa.numeromaxcomensales"
                        name="numeromaxcomensales">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Ubicacion" [(ngModel)]="mesa.ubicacion" name="ubicacion">
                </mat-form-field>
            </div>
            <div [hidden]="!error">
                <h4>Por favor valida que los campos esten completos!</h4>
            </div>
            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h4>Registro guardado con exito!</h4>
    </div>
</mat-card>