<mat-toolbar>
    <mat-toolbar-row>
        <h1>Mesa</h1>
        <span style=" flex: 1 1 auto;"></span>
        <a mat-icon-button aria-label="Example icon-button with a heart icon" [routerLink]="'/mesa/add'">
            <mat-icon>add_circle</mat-icon>
        </a>
    </mat-toolbar-row>
</mat-toolbar>
<table mat-table [dataSource]="mesas" class="mat-elevation-z2" style="width: 100%">

    <ng-container matColumnDef="numeromaxcomensales">
        <th mat-header-cell *matHeaderCellDef> Numero maximo de comensales </th>
        <td mat-cell *matCellDef="let element"> {{element.numeromaxcomensales}} </td>
    </ng-container>

    <ng-container matColumnDef="ubicacion">
        <th mat-header-cell *matHeaderCellDef> Ubicacion</th>
        <td mat-cell *matCellDef="let element"> {{element.ubicacion}} </td>
    </ng-container>


    <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <a mat-icon-button aria-label="Example icon-button with a heart icon"
                [routerLink]="['/mesa/edit',element.id]">
                <mat-icon>create</mat-icon>
            </a>

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>