<mat-toolbar>
    <mat-toolbar-row>
        <h1>Factura</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Cliente</ng-template>
                <div style="display: flex;flex-direction: column; padding-left: 50px; padding-right: 50px">
                    <mat-form-field>
                        <input matInput placeholder="Nombre" formControlName="nombre" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Primer Apellido" formControlName="apellido1" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Segundo Apellido" formControlName="apellido2">
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput placeholder="Observaci&oacute;n" formControlName="observacion"></textarea>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Camarero</ng-template>
                <h1>Camarero</h1>
                <mat-radio-group aria-label="Select an option" formControlName="camarero"
                    style="display: flex;flex-direction: column; margin: 15px 0;padding-left: 50px; padding-right: 50px" required>
                    <mat-radio-button required *ngFor="let camarero of camareros | async" [value]="camarero">
                        {{camarero.nombre}}
                    </mat-radio-button>
                </mat-radio-group>
                <h1>Mesas</h1>
                <mat-radio-group aria-label="Select an option" formControlName="mesa"
                    style="display: flex;flex-direction: column; margin: 15px 0;padding-left: 50px; padding-right: 50px" required>
                    <mat-radio-button  *ngFor="let mesa of mesas | async" [value]="mesa">
                        <p> 
                            Mesa: {{mesa.ubicacion}}
                            Numero Comensales :{{mesa.numeromaxcomensales}}
                        </p>
                    </mat-radio-button>
                </mat-radio-group>
                <div>
                    <button mat-button matStepperPrevious>Atras</button>
                    <button mat-button matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="threeFormGroup">
            <form [formGroup]="threeFormGroup">
                <ng-template matStepLabel>Platos</ng-template>
                <div style="display: flex;flex-direction: column; padding-left: 50px; padding-right: 50px">
                    <div style="display: flex;flex-direction: row; padding-left: 50px; padding-right: 50px">
                        <mat-form-field>
                            <input matInput placeholder="Plato" formControlName="plato" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Importe" formControlName="importe" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Cocinero</mat-label>
                            <mat-select formControlName="cocinero">
                                <mat-option *ngFor="let cocinero of cocineros | async" [value]="cocinero.id">
                                    {{cocinero.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-button (click)="onAdd()">Agregar</button>
                    </div>
                    <div style="display: flex;flex-direction: row; padding-left: 50px; padding-right: 50px">
                        <mat-selection-list role="list" #detallefactura>
                            <mat-list-option role="listitem" *ngFor="let detallefactura of detallefacturas">
                                <div style="display: flex;flex-direction: row; align-content: space-between ;">
                                    {{detallefactura.plato}}
                                    {{detallefactura.importe}}
                                </div>
                            </mat-list-option>
                        </mat-selection-list>
                    </div>

                </div>
                <div>
                    <button mat-button matStepperPrevious>Atras</button>
                    <button mat-button (click)="onSubmit(stepper)">Guardar</button>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</mat-card>