<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Restaurante</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/factura'"> Factura </a>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/clientes'"> Clientes </a>
      <a mat-list-item [routerLink]="'/cocineros'"> Cocineros </a>
      <a mat-list-item [routerLink]="'/camareros'"> Camareros </a>
      <a mat-list-item [routerLink]="'/mesas'"> Mesas </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Cerrar  </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;padding-left: 50px;padding-right: 50px; padding-top: 20px">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>